body{
    color: black;
    background-color:#adb860 ;
    text-align: center;
    font-size: 15px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
button{
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    width: 300px;
}
button:hover {
background-color: brown;
}
.tr{
    width: 100%; 
    max-width: 400px; 
    margin: 10px auto; 
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-sizing: border-box;
    display: block; 
}
.achat{
    background-color: white;
    padding: 30px;
    border-radius: 25px;
    margin: 50px auto;
    width: 90%;
    max-width: 500px; 
    
    height: auto; 
    display: flow-root;
    min-height: 450px;
    box-sizing: border-box;
}
p{
font-size: 18px; 
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}
.select {
  position: relative;
  width: 100%;
  max-width: 400px; 
    margin: 10px auto; 
    text-align: left;
}
.select label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}
.select-wilaya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
select-wilaya:hover {
  border-color: #c5a880;
}
.select-wilaya .arrow {
  color: #c5a880;
  font-size: 10px;
}
.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #c5a880;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  z-index: 10;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 240px;
  overflow-y: auto;  
  z-index: 9999;
}
.custom-options.open {
  display: block;
}
.custom-options li {
  padding: 12px 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  transition: background 0.2s;
}

.custom-options li:hover {
  background-color: #f9f6f0; 
  color: #c5a880;
}

.custom-options li span {
  color: #888; 
  font-size: 13px;
}
.custom-options.actif{
   display: block !important;
}
@media screen and (max-width:1024px) {
    html, body {
        zoom: 75%; 
        transform: scale(0.90); 
        transform-origin: top center;
        width: 100%;
        overflow-x: hidden; 
    }
}